<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="in.mobi_space.money_manager">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="core.App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon_small"
        android:label="@string/str_app_name"
        android:theme="@style/AppThemeLight">

        <activity
            android:name="gui.launcher.LauncherActivity"
            android:theme="@style/LauncherActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="gui.account_create.NewAccountCreateActivity"/>

        <activity android:name="gui.home.HomeActivity"/>

        <activity android:name="gui.transaction.TransactionActivity"/>

        <activity android:name="gui.transaction_viewer.TransactionViewerActivity"/>

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-INSERT_APP_KEY" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
