<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="in.softc.aladindm">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="core.App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon_small"
        android:label="@string/str_app_name"
        android:theme="@style/AppThemeDark">

        <activity
            android:name="gui.launcher.LauncherActivity"
            android:noHistory="true"
            android:theme="@style/LauncherActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="gui.account_create.NewAccountCreateActivity"/>

        <activity android:name="gui.home.HomeActivity"/>

    </application>

</manifest>
